/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

@import "twitter/bootstrap";

@mixin transition($property) {
  -webkit-transition: $property;
     -moz-transition: $property;
      -ms-transition: $property;
       -o-transition: $property;
          transition: $property;
}

.grey {
  background-color: #cccccc;
  border: 1px solid #666;
}
body {
  padding-top: 70px;
  font-family: "Freight-Micro-Pro";
  font-size: 1.7rem;
  font-weight: 300;
}
img {
  width: 100%;
}
h1 {
  font-family: "Freight-Micro-Pro";
  font-weight: 400;
  font-size: 48px;
}
h2 {
  font-family: "Freight-Micro-Pro";
  font-weight: 600;
  font-style: italic;
}
h3 {
  font-family: "Freight-Micro-Pro";
  font-weight: 600;
  margin: 0;
  a {color: white;}
}
.btn {
  background-color: rgba(0,0,0,0.5);
  border-color: #333;
  @include transition(background-color .6s);
}
.btn:hover {
  background-color: #333;
  border-color: black;
}